<!-- Art-block -->
<div class="container art__block">
  <article class="grid grid--1×2">
    <div class="art__content">
      <div class="art__heading">
        <h3>Art of cakes</h3>
        <p>we create delicious memories</p>
      </div>

      <p class="art__body">
        Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
        Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
        Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
        libero, sit amet adipiscing sem neque sed.
      </p>
      <h4 class="art__heading">Chef Cook</h4>
      <div class="art__name-person">
        <span>Benito</span>
        <picture>
          <source type="image/webp" srcset="images/art-profile.webp" />
          <source type="image/png" srcset="images/art-profile.png" />
          <img
            class="art__profile_img"
            src="images/art-profile.png"
            alt="Profile of a chef"
          />
        </picture>
        <span>Gaspare</span>
      </div>
      <blockquote class="quote">
        <p class="quote__text">Unique creations for unique occasions.</p>
      </blockquote>
    </div>

    <div class="art__gallery grid art__grid--3×3">
      <picture>
        <source
          type="image/webp"
          srcset="
            images/img-top-left_resize_w167.webp     167w,
            images/img-top-left_resize_@2x_w296.webp 296w
          "
          sizes="100rem"
        />
        <source
          type="image/jpg"
          srcset="
            images/img-top-left_resize_w167.jpg     167w,
            images/img-top-left_resize_@2x_w296.jpg 296w
          "
          sizes="100rem"
        />

        <img
          class="art__image art__grid-cell"
          src="images/img-top-left_resize_@2x_w296.jpg"
          alt="Some flour"
        />
      </picture>

      <div class="art__grid-cell"></div>

      <picture>
        <source
          type="image/webp"
          srcset="
            images/img-top-right_resize_w167.webp     167w,
            images/img-top-right_resize_@2x_w296.webp 296w
          "
          sizes="100rem"
        />
        <source
          type="image/jpg"
          srcset="
            images/img-top-right_resize_w167.jpg     167w,
            images/img-top-right_resize_@2x_w296.jpg 296w
          "
          sizes="100rem"
        />

        <img
          class="art__image art__grid-cell"
          src="images/img-top-right_resize_@2x_w296.jpg"
          alt="Some flour, bread, wheat and an egg"
        />
      </picture>

      <div class="art__grid-cell"></div>

      <div class="art__grid-cell">
        <picture>
          <source type="image/webp" srcset="images/Circle-wave.webp" />
          <source type="image/jpeg" srcset="images/Circle-wave.jpeg" />
          <img
            class="icon--art"
            src="images/Circle-wave.jpeg"
            alt="Wavy edges circle"
          />
        </picture>
        <p class="art__inside-text">TASTES SO GOOD!</p>
      </div>

      <div class="art__grid-cell"></div>

      <picture>
        <source
          type="image/webp"
          srcset="
            images/img-bottom-left_resize_w167.webp     167w,
            images/img-bottom-left_resize_@2x_w296.webp 296w
          "
          sizes="100rem"
        />
        <source
          type="image/jpg"
          srcset="
            images/img-bottom-left_resize_w167.jpg     167w,
            images/img-bottom-left_resize_@2x_w296.jpg 296w
          "
          sizes="100rem"
        />

        <img
          class="art__image art__grid-cell"
          src="images/img-bottom-left_resize_@2x_w296.jpg"
          alt="a slice cake"
        />
      </picture>

      <div class="art__grid-cell"></div>

      <picture>
        <source
          type="image/webp"
          srcset="
            images/img-bottom-right_resize_w167.webp     167w,
            images/img-bottom-right_resize_@2x_w296.webp 296w
          "
          sizes="100rem"
        />
        <source
          type="image/jpg"
          srcset="
            images/img-bottom-right_resize_w167.jpg     167w,
            images/img-bottom-right_resize_@2x_w296.jpg 296w
          "
          sizes="100rem"
        />

        <img
          class="art__image art__grid-cell"
          src="images/img-bottom-right_resize_@2x_w296.jpg"
          alt="A few slices of cake and some strawberries"
        />
      </picture>
    </div>
  </article>
</div>
