<!-- Favorite block -->
<div class="favorite-block container">
  <div class="container-favorite">
    <!-- Picture part -->
    <div class="grid container_star-img">
      <picture>
        <source type="image/webp" srcset="images/Pancake.webp" />
        <source type="image/webp" srcset="images/Pancake.jpg" />
        <img
          class="favorite__img"
          src="images/Pancake.jpg"
          alt="A plate of pancakes"
        />
      </picture>
      <!-- Stars on picture -->
      <div class="favorite-star">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
      </div>
    </div>

    <!-- Content part -->
    <section class="favorite__content">
      <div class="post__content">
        <h1>Tasty pancakes</h1>
        <h3>season favorite</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum
          repellat ratione impedit autem, nostrum dolorum at. Repellat doloribus
          totam veniam, blanditiis beatae animi!
        </p>
      </div>

      <!-- Time box -->
      <div class="time__box">
        <img class="bg__box" src="images/time_box.jpg" alt="Farm" />
        <div class="box__content">
          <p class="box--title">ready in</p>
          <p class="box--time">40</p>
          <p class="box--unit">mins</p>
        </div>
      </div>

      <!-- Background content -->
      <picture>
        <source type="image/webp" srcset="images/Windmills.webp" />
        <source type="image/jpg" srcset="images/Windmills.jpg" />
        <img
          class="favorite__img-back"
          src="images/Windmills.jpg"
          alt="Windmills"
        />
      </picture>
    </section>
  </div>
</div>
