<!-- Footer -->
<footer class="container">
  <div class="footer__list">
    <a href="#">our menu</a>
    <span class="between__nav">~</span>
    <a href="#">gallery</a>
    <span class="between__nav">~</span>
    <a href="#">culture</a>
  </div>

  <div class="nav__brand">
    <a href="#">Gustoso</a>
  </div>

  <div class="footer__list">
    <a href="#">events</a>
    <span class="between__nav">~</span>
    <a href="#">catering</a>
    <span class="between__nav">~</span>
    <a href="#">visit us</a>
  </div>
</footer>
