<!-- Header - Navbar -->
<header>
  <nav class="nav collapsible">
    <a class="nav__brand" href="#">Gustoso</a>
    <svg class="icon icon--white nav__toggler">
      <use href="images/sprite.svg#menu"></use>
    </svg>
    <ul class="list nav__list collapsible__content">
      <li class="nav__item">
        <a href="#">Welcome<span class="between__nav">~</span></a>
      </li>
      <li class="nav__item">
        <a href="#">Menu<span class="between__nav">~</span></a>
      </li>
      <li class="nav__item">
        <a href="#">reservations<span class="between__nav">~</span></a>
      </li>
      <li class="nav__item">
        <a href="#">News<span class="between__nav">~</span></a>
      </li>
      <li class="nav__item">
        <a href="#">Contact</a>
      </li>
      <li class="nav__item nav__social">
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
      </li>
    </ul>
  </nav>
</header>
