<!-- Price list for breakfast -->
<div class="prices-list container">
  <div class="grid grid--1×2">
    <!-- Breakfast content -->
    <section class="price-list__content">
      <h1>Breakfast</h1>
      <p class="h1-subtitle--primary">7am breakfast? we're open!</p>

      <h4>Full breakfast</h4>
      <p class="h4-subtitle--secondary">
        Duis ut tortor, et risus, vulputate pretium
      </p>
      <p class="h4-subtitle__price">$12.49</p>

      <h4>Toast & Jam</h4>
      <p class="h4-subtitle--secondary">Suspendisse, tempus, nterdum</p>
      <p class="h4-subtitle__price">$4.90</p>

      <h4>Muffins</h4>
      <p class="h4-subtitle--secondary">Fusce eget dui sodales est</p>
      <p class="h4-subtitle__price">$3.95</p>
    </section>

    <!-- Breakfast card -->
    <div class="breakfast-card">
      <!-- First-level -->
      <div class="cards first-level">
        <div class="panel">
          <!-- Seconde-level -->
          <div class="cards second-level">
            <div class="panel">
              <!-- Third-level -->
              <div class="cards third-level">
                <div class="panel">
                  <div class="card__container">
                    <div class="card__top grid">
                      <p>EST.</p>
                      <p>1893</p>
                      <div class="line__circle-container grid">
                        <p class="line">_____________</p>
                        <img class="icon" src="images/donat.svg" alt="" />
                        <p class="line">_____________</p>
                      </div>
                    </div>
                    <div class="card__content">
                      <h1>Your morning Escape with Flair</h1>
                      <p>
                        Donec vitae sapien ut libero venenatis faucibus. Nullam
                        quis ante. Etiam sit amet orci eget eros faucibus
                        tincidunt. Duis leo.
                      </p>
                      <a class="btn btn--secondary" href="#">READ</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
