<picture>
  <source
    type="image/webp"
    srcset="
      images/banner@1x_w200.webp   200w,
      images/banner@2x_w709.webp   709w,
      images/banner@3x_w1029.webp 1029w,
      images/banner@4x_w1262.webp 1262w,
      images/banner@5x_w1400.webp 1400w
    "
    sizes="100vw"
  />
  <source
    type="image/png"
    srcset="
      images/banner@1x_w200.png   200w,
      images/banner@2x_w709.png   709w,
      images/banner@3x_w1029.png 1029w,
      images/banner@4x_w1262.png 1262w,
      images/banner@5x_w1400.png 1400w
    "
    sizes="100vw"
  />
  <img
    class="wide__image"
    src="images/banner@5x_w1400.png"
    alt="kind of bread"
  />
</picture>
