<!-- Sandwich-block -->
<div class="list-sandwich container grid grid--1×2">
  <!-- Side list -->
  <section class="side-list">
    <div class="box-sandwich">
      <img src="images/Wheat.jpg" alt="Some wheat" />
      <h2>Class aptent</h2>
      <p>Quot alienum persecuti ut eam, nam ad atqui primis nusquam.</p>
    </div>
    <div class="box-sandwich">
      <img src="images/eggs.jpg" alt="Some wheat" />
      <h2>Nulla eget</h2>
      <p>Nullam dictum felis eu pede mollis pretium Integer tincidunt.</p>
    </div>
    <div class="box-sandwich">
      <img src="images/Cheese.jpg" alt="Some wheat" />
      <h2>Sed nibh purus</h2>
      <p>Aenean eleifend tellus leo ligula, porttitor eu, consequat vi</p>
    </div>
  </section>

  <!-- Sandwich content -->
  <section class="list-sandwich__content">
    <div class="content-top">
      <img src="images/Windmills.png" alt="" class="img-top" />
      <h1>The Jibarito sandwich</h1>
      <h3>the best sandwich you’ve ever tasted!</h3>
    </div>

    <!-- Info food -->
    <div class="food-body-full centered">
      <div class="container-food pos--relative food__bg-img">
        <div class="right-childs pos--absolute grid">
          <div class="food-time pri-time">
            <p class="box--title">prep</p>
            <p class="box--time">15</p>
            <p class="box--unit">mins</p>
          </div>

          <div class="food-time pri-time">
            <p class="box--title">cook</p>
            <p class="box--time">35</p>
            <p class="box--unit">mins</p>
          </div>

          <div class="food-time pos--relative">
            <img
              class="img-time pos--absolute"
              src="images/time_box.jpg"
              alt="Farm"
            />
            <p class="box--title">ready in</p>
            <p class="box--time">40</p>
            <p class="box--unit">mins</p>
          </div>
        </div>
        <a class="btn btn--ascend outside-position" href="#">FULL RECIPE</a>
      </div>
    </div>
  </section>
</div>
