@font-face {
  font-family: "scriptina";
  src: url("fonts/scriptina/scriptina.woff2") format("woff2"),
    url("fonts/scriptina/scriptina.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
